<main class="container mx-auto my-[20px] px-[8%]">
  <p class="text-yellow-500 px-3 text-[20px] font-normal mb-3">
    &#10148;<%=data.title%>
  </p>
  <div
    class="w-full flex flex-col mx-auto py-10 px-10 bg-slate-200 rounded-[16px]"
  >
    <div class="my-3">
      <p class="bg-slate-300 px-3 py-2 text-[18px]">1 - 面部修復 - Face Fix</p>
      <p class="px-5 py-3 text-[16px]">
        幾乎所有新手都會使用-面部修復,但在實際生產中,這個選項讓你的作品變得毫無價值.看上去"面部修復"是在做一件有意義的事情,但同時,它消滅
        了一切細節,讓你的作品毫無生機,有許多其他辦法可以修復面部問題.
      </p>
    </div>

    <div class="my-3">
      <p class="bg-slate-300 px-3 py-2 text-[18px]">
        2 - 高解析度修正 - Hires Fix
      </p>
      <p class="px-5 py-3 text-[16px]">
        對於512x768這樣的標準SIZE來説,繪製頭像完全沒問題,大多數模型都能非常好的實現.但對於半身像/全身像,幾乎100%崩坏圖.所以許多新人,
        在繪製此類圖像開啓"高解析度修正"...</br>
        然而,在實際生產中,如果你每次都開啓"高解析度修正",那一定是災難性了,我指的是時間成本.</br>
        正常的做法是:不開啓"高解析度修正",更不要開啓"面部修復",你只是大量出圖,并篩選出手/脚/肢體等問題不大的圖,最後才開始做修復工作,
        這將爲你節省大量時間成本.
      </p>
    </div>

    <div class="my-3">
        <p class="bg-slate-300 px-3 py-2 text-[18px]">3 - 盲目堆叠提詞</p>
        <p class="px-5 py-3 text-[16px]">
          在SD中,細節豐富程度有一個先決條件,那就是尺寸,也就是圖像分辨率.你可以在512x768上繪製一個不錯的肖像,但在128x192上只能畫個渣渣.
          所以,在512x768分辨率上呈現太多細節是不可能的.一段精煉有序的提詞讓你可以更好的繪製你心中的畫面.
        </p>
    </div>

    <div class="my-3">
      <p class="bg-slate-300 px-3 py-2 text-[18px]">4 - 不去掌握ControlNet</p>
      <p class="px-5 py-3 text-[16px]">
        ControlNet是SD最有價值的插件,它几乎是更新頻率最快,對未來SD影響最大的核心插件,建議每一個SD使用者都熟練掌握它.</br>
        可以這麽說,影響未來生產結果品質,ControlNet是最直接的,權重也是最高的.
      </p>
    </div>

    <div class="my-3">
      <p class="bg-slate-300 px-3 py-2 text-[18px]">5 - 沉迷于NSFW消磨整個晚上的時間</p>
      <p class="px-5 py-3 text-[16px]">
        對,説的就是你!😀😀😀
      </p>
    </div>

    <div class="my-3">
      <p class="bg-slate-300 px-3 py-2 text-[18px]">本篇完 - 待續</p>
    </div>
    
  </div>
</main>
