<form class="artTypeForm">
  <div class="mt-5">
    <label for="image-url">preview image</label>
    <input
      class="w-full border rounded-[4px] border-gray-500 py-1 px-2"
      id="files"
      type="file"
      name="files"
      accept="image/*"
      multiple
      required
    />
  </div>

  <div class="mt-3">
    <label class="text-[12px]" for="class_key">&#10148;Class Key</label>
    <input
      class="w-full border rounded-[4px] border-gray-500 py-1 px-2"
      name="class_key"
      id="class_key"
      type="text"
      placeholder="* class key..."
      required
    />
  </div>

  <div class="mt-3">
    <label class="text-[12px]" for="title">&#10148;Title</label>
    <input
      class="w-full border rounded-[4px] border-gray-500 py-1 px-2"
      name="title"
      id="title"
      type="text"
      placeholder="* title..."
      required
    />
  </div>

  <div class="mt-5">
    <button
      class="w-full border rounded-[4px] bg-purple-500 py-2 text-white"
      type="submit"
    >
      提交更新
    </button>
  </div>
</form>
<script>
  $(document).ready(() => {
    const artTypeForm = document.querySelector(".artTypeForm");
    artTypeForm.addEventListener("submit", (e) => {
      e.preventDefault();
      const class_key = document.getElementById("class_key");
      const title = document.getElementById("title");

      const files = document.getElementById("files");
      const formData = new FormData();
      formData.append("class_key", class_key.value);
      formData.append("title", title.value);
      for (let i = 0; i < files.files.length; i++) {
        formData.append("files", files.files[i]);
      }

      fetch("/admin/add-art-type", {
        method: "post",
        mode: "cors",
        body: formData,
      })
        .then((res) => res.json())
        .then((data) => {
          if (data.status == 201) {
            window.location.reload();
          }
        });
    });
  });
</script>
