<div class="w-full flex items-center justify-center mt-4">
  <a
    class="member_event bg-purple-500 text-white px-8 py-3 rounded-md cursor-pointer"
    href="/event/main"
  >
    GO&nbsp;&#9658;&nbsp;畫廊大廳
  </a>
</div>
