<%-include('alliance-web.ejs')%>
<footer class="container mx-auto text-center mb-6">
  <span class="text-slate-100 text-xs font-light opacity-60">
    Terms - Policier - DMCA - 18 USC 2257 - F.A.Q - Contact - About </span
  ><br />
  <span class="text-slate-100 text-xs font-light opacity-90">
    &copy;&nbsp; 2023 像素猴子 - Inc All rights reserved.
  </span>
</footer>
