<main class="container mx-auto my-[11%] px-[8%]">
  <p class="text-white my-2">
    &nbsp;&nbsp;&nbsp;&#10148;&nbsp;<a href="/">管理員登錄</a>
  </p>
  <div
    class="flex flex-col lg:flex-row bg-white rounded-[8px] shadow-xl mx-auto overflow-hidden"
  >
    <div
      class="w-full lg:w-1/2 flex flex-col items-center justify-center py-10 px-5"
      style="
        background-image: url('/images/loginGirl.png');
        background-size: cover;
      "
    >
      <h2 class="text-white text-[22px] font-bold">WELCOM!</h2>
    </div>
    <div class="w-full lg:w-1/2 py-10 px-10">
      <h2 class="font-bold">&#10148;Admin Login</h2>
      <form action="/admin/login" method="post">
        <div class="mt-5">
          <input
            class="w-full border rounded-[4px] border-gray-500 py-1 px-2"
            name="email"
            type="email"
            placeholder="* Email..."
            required
          />
        </div>

        <div class="mt-5">
          <input
            class="w-full border rounded-[4px] border-gray-500 py-1 px-2"
            name="password"
            type="password"
            placeholder="* Password..."
            required
          />
        </div>
        <div class="mt-5">
          <button
            class="w-full border rounded-[4px] bg-purple-500 py-2 text-white"
            type="submit"
          >
            登錄 - LOGIN
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include('./partials/footer.ejs') %>
