<main class="container mx-auto my-[20px] px-[8%]">
  <div class="w-full flex flex-col items-center justify-center mb-10">
    <p class="text-yellow-500 text-[20px] font-light my-1">
      &#10026;會員專區 - R18 ART &#10026;
    </p>
    <p class="text-slate-400 text-[16px] font-light">
      為防止重複濫用流量,每次下載象徵性收取 -
      <span class="text-orange-500">5個銀幣</span>
    </p>
    <p class="text-slate-400 text-[16px] font-light">
      In order to prevent repeated abuse of traffic, a symbolic charge for each
      download -
      <span class="text-orange-500">5 silver coins</span>
    </p>
  </div>
</main>
