<main class="container mx-auto my-[20px] px-[8%]">
  <h1 class="text-yellow-400"><%= message %></h1>
  <h2 class="text-red-600"><%= error.status %></h2>
  <pre class="text-red-600"><%= error.stack %></pre>
  >
</main>
