<main class="container mx-auto my-[20%] px-[8%]">
  <div class="w-full flex flex-col items-center justify-center mt-6">
    <p class="text-yellow-500 text-[20px] font-light my-1">
      &#10026; 通知訊息 - MESSAGE &#10026;
    </p>
    <p class="text-white my-4"><%=info.message%></p>
    <p class="text-white my-1"><%=info.messageEn%></p>
  </div>
</main>
