<main class="container mx-auto my-[20px] px-[8%]">
  <div class="w-full flex flex-col items-center justify-center mt-6">
    <p class="text-yellow-400 text-[14px]"><%=message%></p>
    <img src="<%=image_url%>" width="500px" alt="" />
  </div>
</main>
